* {
	box-sizing: border-box; 
}
body{
	margin: 0px; padding: 0px; font-family: Helvetica Neue, Helvetica,
	arial, sans-serif; color: white;
	background-image: url('student.jpg');
	background-attachment: fixed; 
	background-repeat: no-repeat;		
	background-size: cover;
}
.header{
	background-color: #ffffff; top: 0; left: 0; right: 0;
	position: sticky; height:65px; padding: 13px; 
}
.stay{
	  float: left; padding: 1px;
}
.stay::after{
	content: "";
	clear: both;
	display: table;
}
.as{
	margin-left: 70px;
}
.as>a{
	text-decoration: none;
}
.aa{
	font-size: 25px; 
}
.aa::after{
	content: "";
	clear: both;
	display: table;
}
.aa>a{
	text-decoration: none; color: #1f2152;
}
.move{
	float: right; padding: 10px;
}
.move::after{
	content: "";
	clear: both;
	display: table;
}
.move a{
	text-decoration: none; color: #1f2152; font-weight: bold;
}
.move a:hover{
	color: #f3945c; font-weight: bold;
}
.ab{
	margin-right: 100px;
}
.ab:hover{
	cursor: pointer;
}
.nav{
	background-color: #1f2152; height: 60px; width: 47.3vw;
	border-radius: 3px; position: relative; top: 238px;
}
.naa{
	color: white; font-size: 40px; text-align: left; margin-left: 0px;
}
.dropdown{
	display: inline-block; position: relative;
}
.dropdown-content{
	display: none; z-index: 1;background-color: snow;
	position: absolute; right: 0; width: 13vw;
}
.dropdown-content a{
	color:#1f2152; font-size: 12px; padding: 10px 14px; display: block; text-decoration: none;
}
.dropdown:hover .dropdown-content{
	display: block;
}
